@tailwind base;
@tailwind components;
@tailwind utilities;

.liner-wrapper:after {
    display:block;
    content: '';
    position:absolute;
    bottom: 0;
    width: 100%;
    padding-top: 1rem;
    border-bottom: solid 2px #222;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  .liner-wrapper:hover:after { transform: scaleX(1); }

  .liner-wrapper:after {
    transform-origin: left;
  }